@charset "utf-8";
@import "compass/css3";

@font-face {
	font-family:"Helvetica LT Standard";
	src:url("./HelveticaLTStd-Bold.otf"), url("./HelveticaLTStd-Bold.eot");
}

body{
	min-height: 100%;
}

main{
	display: flex;
	margin: 3%;
}

.container {
  	width: 15vw;
  	display: flex;
	min-height: 100vh;
}

.column {
	flex-basis: 100px;
	flex-direction: row;
	margin: 5px;
}

.colbox {
	background-color: #c93a2a;
}

.title-box
{
	flex-basis: 300px;
  	flex-direction: column;
	background-color: transparent;
}

.fillerbox{
 	margin: 5px;
	padding-left: 25px;
	display-inline: flex;
}

#one{
	height: 10%;
}

#three{
	flex-grow: 1;
}

#four{
	font-weight: bolder;
	font-family: 'Helvetica LT Standard', Helvetica, Arial, "sans-serif";
	font-size: 28px;
}

#five
{
	position: relative;
	top: -7px;
	font-family: Arial, "sans-serif";
	font-size: 18pt; 
}

#six{
	position: relative;
	font-family: Arial, "sans-serif";
	font-weight: bolder;
	top: -12px;
}

#title{
	font-family: 'Helvetica LT Standard', Arial, "sans-serif";
	font-size: 76pt;
	position: relative;
	right: 10px;
}

#subtitle{
	position: relative;
	top: -12px;
	font-family: Arial, "sans-serif";
	font-size: 11pt;
}

.subsubtitle{
	position: relative;
	top: -5px;
	font-size: 9pt;
	line-height: -10px;
}

#date-divider{
	color: #c93a2a;
}

#filler{
	padding-left: 45px;
	padding-right: 50px;
}