@charset "utf-8";
@import "compass/css3";

@font-face {
	font-family:"Helvetica LT Standard";
	src:url("./HelveticaLTStd-Bold.otf");
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url("./Montserrat-Regular.otf");
}

body{
	min-height: 100%;
}
main{
		display: flex;
	margin: 3%;
}
.container {
  width: 15vw;
  display: flex;
	min-height: 100vh;
}

.column {
  flex-basis: 100px;
  flex-direction: row;
 margin: 5px;
}

.colbox {
	background-color: #c93a2a;
}

.title-box
{
	flex-basis: 300px;
  	flex-direction: column;
	background-color: transparent;
}

.fillerbox{
 	margin: 5px;
	padding-left: 10px;
}

#title{
	font-family: 'Helvetica LT Standard', Arial, "sans-serif";
	font-color: black;
	font-size: 72pt;
}

#subtitle{
	
	font-family: Arial, "sans-serif";
	font-size: 11pt;
}